/* CSS Stylesheet */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }


/* Modal */
.modal {
    font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
  }
  
  .modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal__container {
    background-color: #F7F7F7;
    padding: 20px;
    max-width: 500px;
    max-height: 100vh;
    border-radius: 4px;
    overflow-y: auto;
    box-sizing: border-box;
  }
  
  .modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.25;
    color: black;
    box-sizing: border-box;
  }
  
  .modal__close {
    background: transparent;
    border: 0;
  }
  
  .modal__header .modal__close:before { 
    content: "\2715"; 
}
  
  .modal__content {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    color: rgba(0,0,0,.8);
  }
  
  .modal__btn {
    font-size: .875rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #e6e6e6;
    color: rgba(0,0,0,.8);
    border-radius: .25rem;
    border-style: none;
    border-width: 0;
    cursor: pointer;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    line-height: 1.15;
    margin: 0;
    will-change: transform;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: -webkit-transform .25s ease-out;
    transition: transform .25s ease-out;
    transition: transform .25s ease-out,-webkit-transform .25s ease-out;
  }
  
  .modal__btn:focus, .modal__btn:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }


  .modal__btn-primary {
    background-color: black;
    color: #fff;
  }
  
  
/* Modal animation */

  @keyframes mmfadeIn {
      from { opacity: 0; }
        to { opacity: 1; }
  }
  
  @keyframes mmfadeOut {
      from { opacity: 1; }
        to { opacity: 0; }
  }
  
  @keyframes mmslideIn {
    from { transform: translateY(15%); }
      to { transform: translateY(0); }
  }
  
  @keyframes mmslideOut {
      from { transform: translateY(0); }
      to { transform: translateY(-10%); }
  }
  
  .micromodal-slide {
    display: none;
  }
  
  .micromodal-slide.is-open {
    display: block;
  }
  
  .micromodal-slide[aria-hidden="false"] .modal__overlay {
    animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }
  
  .micromodal-slide[aria-hidden="false"] .modal__container {
    animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
  }
  
  .micromodal-slide[aria-hidden="true"] .modal__overlay {
    animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }
  
  .micromodal-slide[aria-hidden="true"] .modal__container {
    animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
  }
  
  .micromodal-slide .modal__container,
  .micromodal-slide .modal__overlay {
    will-change: transform;
  }


/* Body */

.body-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #F7F7F7;
    width: 100vw;
}

.clock-container {
    background-color: #EEEEEE;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px 95px;
    border-radius: 10px;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.07),
    0px 2px 4px 0px rgba(0,0,0,0.07),
    0px 4px 8px 0px rgba(0,0,0,0.07),
    0px 8px 16px 0px rgba(0,0,0,0.07),
    0px 16px 32px 0px rgba(0,0,0,0.07),
    0px 32px 64px 0px rgba(0,0,0,0.07);
}

.mode {
    display: block;
    width: 100%;
}

#mode-btn {
    background: none;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

#mode-btn:hover {
    transform: scale(1.8);
    cursor: pointer;
}

.time-zone-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#time-zone {
    font-weight: bolder;
    font-size: 3rem;
}
#time-zone-btn {
    background: none;
    border:none;
    margin-left: 10px;
}

#time-zone-btn:hover {
    cursor: pointer;
}

#arrayDropdown {
    padding: 10px; 
    font-size: .875rem; 
}

#arrayDropdown option {
    padding: 10px; 
    font-size: .875rem; 
}

.time-container{
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin: 30px 0px;
}


#hour ,#minute, #second{
    font-size: calc(40px + 3vw);
    padding: 10px;
    border-radius: 12px;
    
}

#colon {
    font-weight: bolder;
    font-size: calc(40px + 3vw);
    margin: 0px 20px;
}

#ampm {
    font-size: 3rem;
    align-self: self-start;
    margin-left: 30px;
}

#date {
    margin-top: 20px;
    font-size: 2rem;
}

/* Phone and tablet view */

@media only screen and (max-width: 768px) {
    .clock-container {
        width: 70%;
        padding: 40px 25px;
    }
    #time-zone {
        font-size: 2rem !important;
    }
    #time-zone-btn {
        width: 2rem;
        height: 2rem;
    }
    #hour ,#minute, #second{
        font-size: calc(25px + 1.5vw);
        padding: 10px;
        border-radius: 12px;
    
    }
    #ampm {
        font-size: 2rem;
        margin-left: 10px;
    }
    
    #date {
        font-size: 1.2rem;
    }
    #colon {
        font-size: 1.5rem;
        margin: 0px 10px;
    }
}

@media only screen and (max-width: 425px) {
    .clock-container {
        width: 80%;
        padding: 15px 25px 20px;
    
    }
    #time-zone {
        font-size: 1.2rem !important;
    }
    #time-zone-btn {
        width: 1rem;
        height: 1rem;
    }
    #hour ,#minute, #second{
        font-size: calc(15px + 1.5vw);
        padding: 10px;
        border-radius: 12px;
    
    }
    #ampm {
        font-size: 1rem;
    }
    
    #date {
        font-size: .8rem;
        margin-top: 5px;
    }

    #colon {
        font-size: 2rem;
        margin: 5px;
    }

    .mode {
        margin-bottom: 10px;
    }

    .time-zone-container {
        margin-bottom: 10px !important;
    }
    #mode-svg {
        width: .9rem;
        height: .9rem;
    }
    #modal-svg {
        width: .9rem;
        height: .9rem;
    }
    .time-container {
        margin: 10px 0px;
    }
    #arrayDropdown {
        max-width: 320px;
        font-size: .7rem;
    }
    .modal__content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 0px;
    }
    .modal__btn {
        margin-top: 10px;
    } 
}




